<div class="container">
    <div class="row">
        <form [formGroup]="editForm" >
            <fieldset>
                <legend>Edit Appointment</legend>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Title</label>
                    <input type="text" id="disabledTextInput" [(ngModel)]="appointment.title" formControlName="title" class="form-control"
                        placeholder="Enter title">



                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Date</label>

                    <input type="date" id="disabledTextInput"  [(ngModel)]="appointment.date" formControlName="date" class="form-control">


                </div>

                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Time</label>
                    <input type="time" id="disabledTextInput" [(ngModel)]="appointment.time" formControlName="time" class="form-control">


                </div>


                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Patient</label>
                    <select class="form-select" [(ngModel)]="appointment.patient" formControlName="patient">
                        <option>Jasmin </option>
                        <option>Jhon Deo</option>
                        <option>Sameer</option>
                        <option>Rahul Sharma</option>
                        <option>Ravi Kumar</option>
                        <option>Mayank Raj</option>
                        <option>Kshitij Bansal</option>
                        <option>Arjit</option>
                    </select>


                </div>




                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Doctor</label>
                    <select class="form-select" [(ngModel)]="appointment.doctor" formControlName="doctor">
                        <option>Dr. Jasmin </option>
                        <option>Dr. Jhon Deo</option>
                        <option>Dr. Sameer</option>
                        <option>Dr. Rahul Sharma</option>
                        <option>Dr. Ravi Kumar</option>
                        <option>Dr. Mayank Raj</option>
                        <option>Dr. Kshitij Bansal</option>
                        <option>Dr. Arjit</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Reason</label>

                    <textarea class="form-control" placeholder="Enter reason" id="floatingTextarea"
                    [(ngModel)]="appointment.reason" formControlName="reason"></textarea>

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Description</label>

                    <textarea class="form-control" placeholder="Enter description" id="floatingTextarea"
                    [(ngModel)]="appointment.description" formControlName="description"></textarea>


                </div>

                <button type="submit" (click)="Appointment()" class="btn btn-primary mb-3">Update</button>
            </fieldset>
        </form>
    </div>
</div>