<div class="container">
    <div class="row my-5">
        <form [formGroup]="editForm">
            <fieldset>
                <div class="d-flex">
                    <legend>Edit Appointment</legend>
                    <button routerLink="/viewEmloyee" type="submit" class="btn btn-success btn-lg mb-3">BacK</button>
            </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Title</label>
                    <input type="text" readonly id="disabledTextInput" [(ngModel)]="employee.title" formControlName="title"
                        class="form-control form-control-lg" placeholder="Enter title">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Date</label>
                    <input type="date" readonly id="disabledTextInput" [(ngModel)]="employee.date" formControlName="date"
                        class="form-control form-control-lg">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Time</label>
                    <input type="time" readonly id="disabledTextInput" [(ngModel)]="employee.time" formControlName="time"
                        class="form-control form-control-lg">
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Patient</label>
                    <select class="form-select form-select-lg" [(ngModel)]="employee.patient" formControlName="patient">
                        <option>Jasmin </option>
                        <option>Jhon Deo</option>
                        <option>Sameer</option>
                        <option>Rahul Sharma</option>
                        <option>Ravi Kumar</option>
                        <option>Mayank Raj</option>
                        <option>Kshitij Bansal</option>
                        <option>Arjit</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="disabledSelect" class="form-label">Doctor</label>
                    <select class="form-select form-select-lg" [(ngModel)]="employee.doctor" formControlName="doctor">
                        <option>Dr. Jasmin </option>
                        <option>Dr. Jhon Deo</option>
                        <option>Dr. Sameer</option>
                        <option>Dr. Rahul Sharma</option>
                        <option>Dr. Ravi Kumar</option>
                        <option>Dr. Mayank Raj</option>
                        <option>Dr. Kshitij Bansal</option>
                        <option>Dr. Arjit</option>
                    </select>

                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Reason</label>
                    <textarea class="form-control form-control-lg" readonly placeholder="Enter reason" id="floatingTextarea"
                        [(ngModel)]="employee.reason" formControlName="reason"></textarea>
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Description</label>
                    <textarea class="form-control form-control-lg" readonly placeholder="Enter description" id="floatingTextarea"
                        [(ngModel)]="employee.description" formControlName="description"></textarea>
                </div>
            </fieldset>
        </form>
    </div>
</div>